body {
	background: #fff;
	font-family: Verdana, Arial, Verdana, sans-serif;
	margin: 0px;
	font-size: 12px;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6, p, ul, li {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: arial,tahoma,verdana,sans-serif;
}

ul,li{
	list-style-type: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.FL {
	float: left;
}

.FR {
	float: right;
}


a{
	color: #005caa;
}

a:hover{
	color: #005caa;
	text-decoration: underline;
}

/***************** UIWorkingWorkspace **********************/

.UIDocument{
	padding: 5px;
	margin: 0 auto;
}

.UIDocument .BoxContent{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 200px;
	background: #f4f4f4;
	border: solid 1px #d8d8d8;
	-moz-box-shadow: 3px 3px #f8f8f8 inset, -3px -3px #f8f8f8 inset;
	-webkit-box-shadow: 3px 3px #f8f8f8 inset, -3px -3px #f8f8f8 inset;
	box-shadow: 3px 3px #f8f8f8 inset, -3px -3px #f8f8f8 inset;
	padding: 12px 10px;
	margin-right: 5px;
	min-height: 380px;
}

.UIDocument .DocumentLogout .BoxContent{
	border-bottom: 0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	min-height: 345px;
}

.UIDocument .BoxContent p{
	line-height: 20px;
}

.UIDocument .BoxContent h1{
	text-align: left;
	color: #545454;
	font-weight: normal;
	padding: 0px 0px 5px 10px;
}

.UIDocument .BoxContent p{
	padding: 0px 0px 10px 10px;
	border-bottom: solid 1px #c9c9c9;
}

.UIDocument .ImgShadow{
	background: url('../background/BoxShadowHome.png') no-repeat left top;
	height: 12px;
	width: 252px;
	display: block;
}

.UIDocument .IconPDF{
	background: url('../background/IconPdf.png') no-repeat right center;
	padding-right: 15px;
}

.UIDocument .BoxContent dl {
	margin: 10px 0px 0px 10px;
	color: #545454;
}

.UIDocument .BoxContent dl dt{
	color: #5c5c5c;
	margin-bottom: 5px;
}

.UIDocument .BoxContent dd{
	margin: 0px;
	line-height: 22px;
}

.UIDocument .BgDownloadPdf{
	background: url('../background/BgDowloadDocument.jpg') repeat-x left center;
	height: 35px;
	border: solid 1px #d8d8d8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	width: 249px;
	text-align: center;
}

.UIDocument .IconDownloadPdf{
	background: url("../background/IconPDFDocument.png") no-repeat scroll 24px 50% transparent;
    color: #FFFFFF;
    display: block;
    font-family: Arial,Verdana,Verdana,sans-serif;
    font-weight: bold;
    line-height: 35px;
    padding-left: 25px;
}

.UIDocument ul{
	margin: 10px 0 0 10px;
}

.UIDocument ul li{
	background: url('../background/ArrowLink.png') no-repeat left center;
	line-height: 20px;
	height: 24px;
	margin: 0;
	padding-left: 10px;
}

/***************** UIWorkingWorkspace **********************/

.UIHeaderPageDocument ul li{
	float: left;
}

.UIHeaderPageDocument{
	background: #202640;
}

.UIHeaderPageDocument .Logo{
	background: url("../background/Logo.png") no-repeat left top;
	width: 80px;
	height: 35px;
	display: block;
	margin: 20px 0px 0px 45px;
}

.UIHeaderPageDocument .TopBannerSignin{
	height: 80px;
	
}
.UIHeaderPageDocument .TopBannerSignin .Signin{
	padding: 28px 15px 0;
}

.UIHeaderPageDocument .TopBannerSignin .Login, .UIHeaderPageDocument .TopBannerSignin .Register,  .UIHeaderPageDocument .TopBannerSignin .Language{
    color: #FFCB09;
    font-weight: bold;
    margin-left: 30px;
}

.UIHeaderPageDocument .Menu .NavigationTop{
	background: #373b50;
	height: 36px;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	padding: 0px 25px 0px 45px;
}

.UIHeaderPageDocument .Menu .NavigationTop a{
	color: #fff;
	line-height:36px;
	padding-right: 50px;
	font-weight: bold;
}

.UIHeaderPageDocument .Menu .Title{
	background: #e8f4ff;
	font-size: 18px;
	color: #373b50;
	padding-left: 10px;
	height: 29px;
	line-height: 29px;
}

.UIFooterPageDocument{
	color: #63687a;
	text-align: center;
	height: 60px;
	padding-top: 20px;
	background: #202640;
}
