@import url(codehighlight.css);
body {
	/*background:transparent url(../background/BannerRepeat.gif) repeat-x top;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	margin:0;
	padding:0px;
	text-align:justify;
	color:#393939;
	font-weight: normal;
  	line-height: 20px;
  	/*background-color: #333333;*/
}

/* ClearFix */	
.ClearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.ClearFix {display: inline-block;}

/* Hides from IE-mac \*/
* html .ClearFix {height: 1%;}
.ClearFix {display: block;}
/* End hide from IE-mac */ 


.UIPageBody {	
	width: 921px;
	margin: auto;
}

.preface {
	margin: 10px 25px;
}

a {
	color: #285A92;
	text-decoration: underline;
}

a span {
	color: #285A92;
}

p {
	margin: 0 0 10px;
	line-height: 25px;
}

p.italic {
	font-style: italic;
}

/* ##################### TOC ################### */


.chapter .toc dl dd dl{
margin: 4px 0px 0px 19px;
}

.chapter .toc .section{
	border-top: none;
}
 
.chapter .toc .section a {
	line-height: 20px;
	color: #2F5E92 !important;
}


.chapter .toc .section a:hover {
	line-height: 20px;
	color: #2F5E92 !important;
}

.toc .book a {
	font-size: 20px;
	margin: 4px 0px;
    text-decoration: none;
}

.toc .chapter a {
    color:#2F5E92;
}

.toc .chapter a:hover {
    color:#2F5E92;
    text-decoration:underline;
}

.toc a {
	font-size: 12px;
    /*font-weight: bold;*/
    text-decoration: none;
	color:#393939;       
}


.toc .section a {
  color:#2F5E92;
 }

.toc .section a:hover {
  color:#2F5E92;
  text-decoration:underline;
}

.set .toc dt a[href*="Guide.html"] {
	font-size: 20px;
}

.toc dd {
  margin: 4px 0px 0px 3px;
  padding-left: 38px;
}

.toc dd  dd {
  padding-left: 27px;
}

.set .toc dt, .book .toc dt {
  padding-top: 12px;
}

.set .toc dd dt, .book .toc dd dt{
  padding-top: 0px;
}

/** .set .toc dd dl dt, .book .toc dd dl dt{
  padding-left: 0px;
}

.set .toc dd dl dd, .book .toc dd dl dd{
  padding-left: 25px;
}
**/

/* ##################### UL / LI ################### */


.ChildenContent{
	margin-left: 12px;
	padding: 4px 0px;
}

ul{
	padding-left: 24px;
	margin-left: 0px;
}

ul li span{
	/*color: #285A92;*/
}

ul li ul{
	padding-left: 0px;
	margin-left: 0px;
	
}

ul li ul li{
	/*list-style:none;*/
}

ul li ul li ul{
	padding-left: 16px;
}

ol{
	padding-left: 24px;
	margin-left: 0px;
}

ol li {    
    font-size: 12px;
    list-style: decimal outside none;
}

ol li ol{
	padding-left: 0px;
	margin-left: 0px;
}

ol li ol li{
	list-style:none;
}

ol li ol li ol{
	padding-left: 16px;
}


ul li{
	/*background:	url("../background/Arrow.png") no-repeat scroll left 7px transparent
	list-style: none;
	padding-left: 10px;*/
	line-height: normal;
}

ul li p span.guilabel {
	color : #393939;
}

.section ul li {
	/*background: url("../background/Arrow.png") no-repeat scroll left 7px transparent;
    list-style: none outside none;
    padding-left:10px; */
    font-weight: normal;
    color: #393939; 
}

.preface ul li {
	/*background:url("../background/Arrow.png") no-repeat scroll left 6px transparent;
	padding-left:10px;
	list-style: none outside none; */
    color: #393939;
    font-size: 12px;
    font-weight: normal;	
}

.TextForm, .programlistingco, .screen {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #f4f4f4;
	padding: 0px 12px;
	border: 1px solid #cccccc;
    overflow-x: auto;
	margin: 0px 0px 0px 0px;
}


 /* ##################### CODE BLOCKS ################### */
 
/*Fix the code block does not display with docbook*/
pre {
	background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;    
    overflow-x: auto;
    padding: 25px;
	margin: 5px 0px;
	position: relative;
	font-size: 11px;
}
    /*Fix the code block with callout displays incorrectly*/
.programlistingco {
	background: none;
    border: 0px;
    padding: 0px;
}

/* Images */

pre img {
    display:block;
    margin:2em 0;
}

.inlinemediaobject, .inlinemediaobject img {
    display:inline !important;
    margin:0em;
}

.programlisting a img, pre a img, td a img, td img {
    display:inline;
}

pre a span img, pre span img {
    display:inline;
	left:2px;
	position:absolute;
}

.calloutlist {margin: 20px 0 10px 0;}

.calloutlist img {
    display:block;
    margin:0 0;
}

.calloutlist table {
	border-collapse: separate;
	border: 1px solid #ccc;
    border-radius: 10px;
}

.calloutlist td {
	border:none;
    padding: 2px 6px;
}

.calloutlist table p {
	margin:0;
}



hr {
 display: none;
}


.book .titlepage .subtitle a{
	font-size: 18px;
}

.book .titlepage .authorgroup{
	margin: 8px 0px 0px 0px;
}


/* ##################### Title H* ################### */

.preface .titlepage h2.title {
	font-size: 40px;
	font-weight: bold;
	color: #285A92;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
}


.book .titlepage h2.title 1{
	padding-right: 10px;
}

.book .titlepage h1.title {
	background: url("../background/guide.png") no-repeat 0px -3px;
	font-size: 40px;
	font-weight: bold;
	color: #285A92;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-left: 60px;
	margin-bottom: 25px;
	margin-top: -5px;
}

.chapter .titlepage h2.title {
	font-size: 36px;
	font-weight: bold;
	color: #444444;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
} 

.section .titlepage h2.title {
	font-size: 30px;
	font-weight: bold;
	color: #444444;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
}


.section .titlepage h3.title {
	font-size: 30px;
	font-weight: bold;
	color: #444444;border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.section .titlepage h4.title {
	font-size: 24px;
	font-weight: bold;
	color: #444444;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.section .titlepage h5.title {
	font-size: 18px;
	font-weight: bold;
	color: #444444;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.section .titlepage h5.title {
	font-size: 15px;
	font-weight: bold;
	color: #444444;
	border-bottom: 1px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 25px;
}




/* ##################### Orderlist ################### */

.orderedlist ol li { 
	line-height: 24px;
}

.chapter .section .titlepage .orderedlist ol {
	background:transparent url(../background/ListBG.gif) no-repeat left 4px;
	padding-left: 13px;
}

.chapter .section .titlepage .orderedlist ol li{
	list-style: none;
}

.chapter .section .titlepage .itemizedlist ul li{
}

.chapter .section .titlepage .informaltable table{
	width: 100%;
}

/* ##################### Titles ################### */

.chapter .section .titlepage .itemizedlist ul {
	padding-left: 13px;
}

.chapter .section .titlepage .informaltable table td  .mediaobject,.section table  .mediaobject {
	text-align:center;
}

.chapter .section .titlepage .informaltable table td p{
	margin: 0px;
}

.chapter .section .informaltable {
  margin-bottom: 30px;
}



/* ##################### Table ################### */

table {
	width:100%;
	margin-left:0px;
	border: 1px solid #cfcfcf;
	border-spacing:0px;
}


td {
	/*padding: 6px 6px;
	border: 1px solid #797979;*/
	max-width: 210px;
	word-wrap: break-word;
}

/* Add space between 2 tables. Correct the text size in table */
.section table {
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
	margin: 10px 0;
 }
 

.qandaset tr.question td {
	font-weight: bold;
	padding: 0 0.5em;
	margin: 0;
	vertical-align: top;
	background: #F0F0F0;
}

.qandaset tr td:first-child {
	width: 0;
}

.answer {
	margin-left: 2em;
	margin-bottom: 3em;
}

.chapter .section .titlepage .informaltable .inlinemediaobject img{
	height: 16px;
}

.chapter .section .section .itemizedlist #d0e38{
	font-size: 12px;
	color: #393939;
}


.chapter .section .section .orderedlist p{
	font-size: 12px;
}

.chapter .section .section .orderedlist .orderedlist p{
	font-size: 12px;
}

.chapter .section .section .orderedlist .orderedlist .orderedlist p{
	font-size: 12px;
}

.chapter .section .section .orderedlist .orderedlist .orderedlist .orderedlist p{
	font-size: 12px;
}

.docnav li{
	background:none!important;
	padding:0;
}


.chapter ol{
	padding-left: 0px;
}

.chapter ol li{
	font-size: 12px;
	color: #393939;
	font-weight: bold;
}
.chapter ol li a,.chapter ol li p{
	font-weight: normal;
}

.chapter .section a  a{
	color: red
}

.code {
	font-size: 12px;
	background: none repeat scroll 0 0 #FEE9CC;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0px 0px;
	border: 1px solid #FFDEB0;

}

/* ##################### Abstract - Introduction ################### */

.abstract {
	padding: 10px;
}

.book .abstract {
	background-color: #f8f8f8;
	border: 1px solid #cfcfcf;
}

.abstract .itemizedlist ul li p span a{ 
    font-weight: bold;
	color: #2F5E92; 
	text-decoration: underline;
	margin-left: 5px;
}
	
.abstract a,.abstract a:visisted {
	color:#16968e;
}

.chapter .abstract {
	padding: 0px;
	border: none;
	background-color: #ffffff;
}

.chapter .section .section .itemizedlist p{
	font-size: 12px;
}

.chapter .section .section .itemizedlist #d0e485{
	font-size: 12px;
	color: #393939;
}

.chapter .section .section .itemizedlist .itemizedlist p{
	font-size: 12px;
}

.chapter .section .section .itemizedlist .itemizedlist .itemizedlist p{
	font-size: 12px;
}

.chapter .section .section .itemizedlist .itemizedlist .itemizedlist .itemizedlist p{
	font-size: 12px;
}

.chapter .abstract ul li{
	background:url("../background/list-arrow-right.png") no-repeat scroll left 10px transparent;
	list-style: none;
	padding-left: 10px;
	color: #393939;
	font-weight: normal;
}

.book .abstract ul li{
	background:	url("../background/list-arrow-right.png") no-repeat scroll left 10px transparent;
	list-style: none;
	padding-left: 10px;
	color: #393939;
	font-weight: normal;
}

.highlights {
	background: white;
	margin-bottom: 10px;
	padding: 0px 5px 1px;
}

.section .highlights ul li{
	background:	url("../background/list-arrow-right.png") no-repeat scroll left 10px transparent;
	list-style: none;
	color: #393939;
	font-weight: normal;
	padding-left: 15px;
}


/* ##################### Cite Title ################### */

.prompt span {
	color:#444444;
    font-size: 18px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p code.prompt {
    font-size: 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #FFFFFF;
    color : #444444;
}

code.prompt {
	background-color: #FFFFFF;
	border-top: 1px dotted #cfcfcf;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #444444;
    /*padding: 2px 4px;*/
}

.citetitle span {
	color:#ffffff;
	background-color: #444444;
    /*font-weight: bold;*/
    font-style: normal;
    border-radius: 6px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 4px;
}

.citetitle {
    padding-left: 4px;
    padding-top: 4px;
}
.procedure {
	margin-left: 40px;
}

.term {	
	color: #2E398C !important
}


/* ##################### GUI Elements ################### */

.guibutton { 
  padding: 3px 12px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4e73aa;
  background-image: -moz-linear-gradient(top, #5a85c5, #3c5781);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a85c5), to(#3c5781));
  background-image: -webkit-linear-gradient(top, #5a85c5, #3c5781);
  background-image: -o-linear-gradient(top, #5a85c5, #3c5781);
  background-image: linear-gradient(to bottom, #5a85c5, #3c5781);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a85c5', endColorstr='#ff3c5781', GradientType=0);
  border-color: #3c5781 #3c5781 #24344d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3c5781;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   border-color: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border: none;
   -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.guilabel {	
    background-color: #f0f0f0;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    border-radius: 6px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 4px;
}

.guimenu {	
  background-color: #f0f0f0;
  font-weight: bold; 
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;	 
  padding: 4px;
}
 	
.guisubmenu { 	 
  background-color: #f0f0f0;
  font-weight: bold; 
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;	 
  padding: 4px;
}
 	  	
.guimenuitem { 
  background-color: #f0f0f0;
  font-weight: bold; 
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;	 
  padding: 4px;
}

/* ##################### Examples ################### */


.example .title {	
  text-shadow: 0 1px 1px white;     	
  color: #393939;     	 
  font-size: 12px;     	
}

.example {
  padding-left: 5px; 	 
  border-left: 2px solid #CCCCCC; 	 
 }
 
 
 /* ##################### Command and Filename ################### */

 
.command {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #F8F8F8;
	border-radius: 5px 5px 5px 5px;
	font-size: 15px;
	font-family: monospace;
	font-style: italic;
	font-weight: bold; 	
	padding: 1px 4px;
	line-height: 20px;
}

.filename { 	 
	/*font-family: courrier;*/
	border-bottom: 1px dotted #cfcfcf;
}

 /* ##################### Book and content ################### */
 
.set {
	margin: 10px 25px;
}

.book {
	margin: 10px 25px;
}

.chapter {
	margin: 10px 25px;
}

.section {
	margin: 10px 25px;
}

.section .section {
	margin: 0;
}

.book .section {
	margin: 0;
}

.book .chapter {
	padding: 0;
}

.book .chapter .section {
	margin: 0;
}

.chapter .section {
	margin: 0;
}

.set .book {
	padding: 0;
}

.set .section {
	margin: 0;
}

.set .chapter {
	margin: 0;
}


 /* ##################### NOTE ################### */

.note {
    background: url("../background/note.png") no-repeat  10px 5px #DEE3FA;
    margin: 10px 0px !important;
    padding: 6px 20px 6px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px;
	border: 1px solid #2F5E92;
}

.note .title {
    font-weight: bold;
    /*margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;*/
	margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;
	color: #3c4a55;
	font-size:13px;
}


.section .titlepage .note .title a{
    font-size: 16px;
	font-weight: bold;
	color: #3c4a55;
}

.note p a {
    /*display: block;*/
    margin: 3px 0 0;
}

.note p {
    margin: 0 0 0 40px;
    padding: 0 0 5px 10px;
    *padding: 0px 0px 12px 12px;
}

.note .itemizedlist ul li { 
	/*url("../background/Arrow.png") no-repeat scroll left 6px transparent; */
	/*list-style: none; */
	margin-left: 45px;
}

.note .itemizedlist ul li p { 
	margin:0;
	padding-left:0; 
}


/* ##################### WARNING ################### */

.warning {
    background: url("../background/warning.png") no-repeat scroll 10px 5px #FCF4D4;
    margin: 10px 0px !important;
    padding: 6px 20px 6px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px;
	border: 1px solid #EDAD00;
}

.warning .title {
    font-weight: bold;
	margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;
	color: #3c4a55;
	font-size:13px;
}

.section .titlepage .warning .title a{
    font-size: 16px;
	font-weight: bold;
	color: #393939;
}

 .warning p a {
    /*display: block;*/
    padding: 4px 0;
}

.warning p {
   margin: 0 0 0 40px;	
   padding: 0 0 5px 12px;
}

.warning .itemizedlist ul li { 
	/*url("../background/Arrow.png") no-repeat scroll left 6px transparent; 
	list-style: none; */
	margin-left: 45px; 
}

.warning .itemizedlist ul li p { 
	margin:0;
	padding-left:0; 
}


/* ##################### TIP ################### */

.tip {
    background: url("../background/tip.png") no-repeat scroll 16px 8px #E6FADE;
    margin: 10px 0px !important;
    padding: 6px 20px 6px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px;
	border: 1px solid #39C522;
}


.tip .title {
    font-weight: bold;
	margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;
	color: #3c4a55;
	font-size:13px;
}

.section .titlepage .tip .title a{
    font-size: 16px;
	font-weight: bold;
	color: #393939;
}

.tip p a {
    /*display: block;*/
    padding: 4px 0;
}

.tip p {
  margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

.tip .itemizedlist ul li { 
	/*background: url("../background/Arrow.png") no-repeat scroll left 6px transparent; 
	list-style: none; */
	margin-left: 45px; 
}
.tip .itemizedlist ul li p { 
	margin:0;
	padding-left:0; 
}


/********************* OTHERS **********************/


/* Add bullet list image*/
.procedure .listitem {
    list-style: disc outside none;
	/*padding-left: 10px;*/
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 15px;
}
/*
.listitem {
	background: url("../background/Arrow.png") no-repeat scroll left 6px transparent;
    list-style: none outside none;
	padding-left: 10px;
}
*/

.chapter .itemizedlist ul li{

}

.procedure ol li {
	font-weight: normal;
}

.procedure ul li  p {
	font-weight: normal;
}

/* procedure margin & color */
	/* Fix the margin & text color of procedure */
 
 ol {
    margin-left: 0;
    padding-left: 20px;
}
 
 ol li {
 font-size:12px;
 line-height: 10px;
 }
.procedure {
	margin-left: 0px;
	font-weight: bold;
}

.procedure ol li {
	color: #393939;
	font-size: 12px;
}

.procedure ol li  p {
	font-weight: normal;
	line-height: 2em;
}

.procedure ul li  p {
	font-weight: normal;
	line-height: 2em;
}


dt a {
	color: #005caa !important;
}

.WikiBooksContainer{
	padding: 8px 0px;
	border-bottom: 1px solid #ececec;
}


.example .title {	
	text-shadow: 0 1px 1px white; 	 
	color: #393939;     	 
	font-size: 11px; 	 
}

