/*<a {
	text-decoration: none;
	color: #005caa;
}*/

ul,li{
	list-style-type: none;
}


.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.FL {
	float: left;
}

.FR {
	float: right;
}

a:hover{
	color: #005caa;
	text-decoration: underline;
}

/***************** Home Page **********************/

.HomeContainer {
	margin : 15px;
}

/***************** Banner / Footer **********************/

.UIHeaderPageDocument ul li{
	float: left;
	font-size: 11px;
	font-family:lucida sans,arial,tahoma,verdana,sans-serif;
}

.UIHeaderPageDocument{
	background: #202640;
}

.UIHeaderPageDocument .Logo{
	background: url("../background/Logo.png") no-repeat left top;
	width: 65px;
	height: 29px;
	display: block;
	margin: 20px 0px 0px 35px;
}

.UIHeaderPageDocument .PDF{
	background: url("../background/Download_PDF.png") no-repeat right top;
	width: 176px;
	height: 46px;
	display: block;
	margin: 10px 15px 0 0px;
}

.UIHeaderPageDocument .TopBannerSignin{
	height: 55px;
}

.UIHeaderPageDocument .Menu .NavigationTop{
	background: #373b50;
	height: 36px;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	padding: 0px 0px 0px 45px;
}

.UIHeaderPageDocument .Menu .NavigationTop a{
	color: #fff;
	line-height:36px;
	padding-right: 50px;
	font-weight: bold;
	text-decoration: none;
}

.UIHeaderPageDocument .Menu .NavigationTop .SelectedNavigationTab{
    color: #FFCA08;
}


.UIHeaderPageDocument .Menu .NavigationTop .LinkDoc30{
	/*padding-left: 298px;*/
	color: #fff;
	line-height:36px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 13px;
	float: right;
}


.UIFooterPageDocument{
	color: #63687a;
	text-align: center;
	height: 40px;
	/*padding-top: 5px;
	background: #202640;*/
	font-size: 11px;
	font-family:lucida sans,arial,tahoma,verdana,sans-serif;
}

/* Navigation header */

.docnav {
	list-style: none outside none;
	position: relative;
	text-align: center;
	padding: 23px 0px;
	margin-bottom: 20px;
}

.docnav .previous a{
 color: transparent !important;
}

.docnav .next a{
 color: transparent !important;
}

.docnav .home a{
 color: transparent !important;
}

.docnav .up a{
 color: transparent !important;
}

.docnav li {
    padding-left: 100px;
    padding-right: 100px;
}

.docnav .title{
	color: #FAC943;
  font-size: 18px;
 	font-weight: bold;
}

.docnavtitle .titlefooterprev {
	left: 0;
	text-align: left;
}

.docnavtitle .titlefooternext {
 	right: 0;
 	text-align: right;
}

.docnavtitle .titlefooternext, .docnavtitle .titlefooternext {
 position: absolute;
}

.docnavtitle{
	list-style: none outside none;
	position: relative;
	padding: 23px 0px;
	margin-top: -60px;
	color: #FAC943;
  font-size: 14px;
 	font-weight: bold;
}

.docnavtitle li {
  padding-left: 20px;
  padding-right: 20px;
 	list-style: none outside none;
 	display: inline;
}



/*Book - content */
	

.set {
	margin: 25px;
}

.book {
	margin: 25px;
}

.chapter {
	margin: 25px;
}

.section {
	margin: 25px;
}

.section .section {
	margin: 0;
}

.book .section {
	margin: 0;
}

.book .chapter {
	padding: 0;
}

.book .chapter .section {
	margin: 0;
}

.chapter .section {
	margin: 0;
}

.set .book {
	padding: 0;
}

.set .section {
	margin: 0;
}

.set .chapter {
	margin: 0;
}


/* N0te */	

.note {
    background: url("../background/note.png") no-repeat  10px 10px #e8e8c1;
    margin: 4px 4px 4px 4px;
    padding: 15px 10px 22px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.note .title {
  font-weight: bold;
	font-size: 16px !important;
  margin: 0 0 10px 40px;
  padding: 0px 10px 0 10px;
	padding: 0 10px 0;
	color: #3c4a55;
}

.section .titlepage .note .title a{
    font-size: 16px;
	font-weight: bold;
	color: #3c4a55;
}

.note p a {
    /*display: block;*/
    margin: 3px 0 0;
}

.note p {
     margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
    *padding: 0px 0px 12px 12px;
}

.note .itemizedlist ul li {
	background: transparent !important;
	padding-left: 0px !important;
}

/* warning */	

.warning {
    background: url("../background/warning.png") no-repeat scroll 5px 5px #fbad17;
    margin: 4px 4px 4px 4px;
       padding: 15px 10px 22px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.warning .title {
    font-weight: bold;
        margin: 0 0 10px 40px;
    padding: 0 10px;
}

.section .titlepage .warning .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

 .warning p a {
    /*display: block;*/
    padding: 4px 0;
}

.warning p {
   margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

/* Tip*/	

.tip {
    background: url("../background/tip.png") no-repeat scroll 5px 5px #d5d5e8;
    margin: 4px 4px 4px 4px;
       padding: 15px 10px 22px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.tip .title {
    font-weight: bold;
    margin: 0;
   margin: 0 0 10px 40px;
    padding: 0 10px;
}

.section .titlepage .tip .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

.tip p a {
    /*display: block;*/
    padding: 4px 0;
}

.tip p {
  margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

/* Heading */
      /* correct the h5 & h6 text color & text size*/
 h5 {
	color: #FCB837;
	font-size: 15px !important;
 }
 
  h6 {
	color: #FCB837;
	font-size: 14px !important;
 }