/*<a {
	text-decoration: none;
	color: #005caa;
}*/

a:hover{
	color: #31a8d0;
	text-decoration: underline;
}

.section ul li {
	background:url("../background/Arrow.png") no-repeat scroll left 6px transparent;
    color: #393939;
    font-size: 12px;
    font-weight: normal;
    list-style: none outside none;
	padding-left:10px;
}

ul,li{
	list-style-type: none;
}

body {
	Background: none;
    color: #393939;
    font-family: Verdana,Arial,Sans-serif;
    font-size: 12px;
    text-align: justify;
}
.BoldText{	
	font-size: 12px;
}
.underline{	
	font-size: 12px;
}
.italic {
    font-size: 12px;    
}

.example .title {	
	text-shadow: 0 1px 1px white; 	 
	color: #393939;     	 
	font-size: 11px; 	 
}

.code {
    font-size: 12px;  	 
}

h2 {
	font-size: 28px;
	border-bottom: 1px solid #F1F1E6;
	border-top: none;
	border-left: 3px solid;
	padding: 7px;
}

h3 {
	font-size:22px;
	border-top:none;
	border-bottom: 1px solid #F1F1E6;
	border-left: 3px solid;
	padding: 2px 5px;
}

h4 {
	border-top:none;
	border-bottom: 1px solid #F1F1E6;
	border-left: 3px solid;
	padding: 2px 5px;
}

.toc a {
	font-size: 12px;	
}

.abstract {   
    padding: 10px 20px;
}

.clearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.pull-left {
	float: left;
}

.pull-right  {
	float: right;
}


/******************HOME PAGE *********************/

.HomeContainer{
	font-family: Verdana, Arial, Myriad Pro, sans-serif;
	font-size: 12px;
	background: url("../background/BgDocument.png") repeat-x left top;
	height: 55px;
}

.ContentContainer{
	padding: 12px 30px;
	line-height: 23px;
}

.HomeContainer h1{
	font-size: 30px;
	font-family: Myriad Pro ,Verdana, Arial, sans-serif;
	margin: 0 0 40px 0;
}

.ContentContainer .TxtTitle{
	font-family: Myriad Pro ,Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}

.ContentContainer .ButtonDocument{
	margin: 20px 0px 31px 0px;
}

.ContentContainer .ButtonDocument li {
	background: url("../background/BgDocument.png") repeat-x left -66px;
	height: 34px;
	float: left;
	margin-right: 11px;
	line-height: 34px;
	padding: 0px 50px;
	font-family: Arial, Myriad Pro ,Verdana,  sans-serif;
	font-size: 18px;
	border-radius: 5px;
}

.ContentContainer .ButtonDocument li a{
	color: #fff;
	text-decoration: none;
}

.ContentContainer h2{
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	height: 39px;
	font-family: Verdana, Arial, Myriad Pro , sans-serif;
	font-size: 18px !important;
	line-height: 38px;
	color: #2c2c2c;
	font-weight: normal;
	padding:0 0 0 60px;
	margin: 19px 0 10px;
}

.ContentContainer h3{
	background: #f9f9f9;
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	font-family:Arial, Verdana, Myriad Pro , sans-serif;
	height: 30px;
	padding:0 0 0 19px;
	line-height:  30px;
	font-size: 14px;
	color: #3c3c3c;
	margin: 0px;
}

.ContentContainer p{
	color: #393939;
	margin: 5px 0px;
}

.ContentContainer .IconNew{
	background: #f0f0f0 url("../background/IconDocs.png") no-repeat 20px 7px;

}

.ContentContainer .IconUser{
	background: #f0f0f0 url("../background/IconDocs.png") no-repeat 20px -58px;

}

.ContentContainer .IconOtherSource{
	background: #f0f0f0 url("../background/IconDocs.png") no-repeat 20px -123px;

}


.ContentContainer .TxtContent{
	padding: 5px 0px 10px 20px;
}

.TxtNote li{
	background: url("../background/Arrow.png") no-repeat left 6px;
	padding-left: 15px;
	margin-bottom: 5px;
}

.TxtNote li a{
	color: #145bc7;
	text-decoration: none;
}

.TxtContent ul{
 margin: 0px;
 padding: 0px;
}


/***************** Banner / Footer **********************/

.uiHeaderPageDocument ul li{
	float: left;	
	background: none;
	padding: 0;
	margin:  0 0 0 1px;
}

.uiHeaderPageDocument{
	background: url("../background/bg-header.png") repeat left top;
	height: 50px;
	border-bottom: 1px solid #2d2d2d;
	box-shadow: 0 2px 4px rgba(13,13,13,0.42);
}

.uiHeaderPageDocument .logo{
	background: url("../background/Logo.png") no-repeat left top;
	width: 178px;
	height: 30px;
	display: block;
	margin: 8px 0px 0px 10px;
}

.uiHeaderPageDocument .menu .navigationTop{
	 background: none;
    border-radius: 0;
    height: 36px;
    padding: 15px 0 0 235px;
    margin: 0;
}

.uiHeaderPageDocument .menu .navigationTop a{
	color: #fff;
	line-height:20px;
	padding:6px 10px;
	font-family:'HelveticaNeue',lucida sans,arial,tahoma,verdana,sans-serif;
	font-size: 14px;
	text-decoration: none;
}
.uiHeaderPageDocument .menu .navigationTop li + li a {
	background: url("../background/split-icon.png") no-repeat center left;
}
.uiHeaderPageDocument .menu .navigationTop a:hover ,
.uiHeaderPageDocument .menu .navigationTop .selectedNavigationTab {
	border-radius: 3px;
	background: #4b6b9a;
}
.uiHeaderPageDocument .btn-group {
	padding: 11px 10px 0 0px; 
}

.uiHeaderPageDocument .btn-group  .btn-lightBlue,.uiHeaderPageDocument .btn-group .btn-darkGray {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border: none;
	font-size: 12px;
font-family: 'HelveticaNeue Medium' , HelveticaNeue, arial;
}

.uiHeaderPageDocument .btn-group a {
	text-decoration: none;
}
.uiHeaderPageDocument .menu .navigationTop .linkDoc30{
	/*padding-left: 298px;*/
	color: #fff;
	line-height:36px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
	float: right;
}


.UIFooterPageDocument{
	color: #63687a;
	text-align: center;
	height: 40px;
	/*padding-top: 5px;
	background: #202640;*/
	font-size: 11px;
	font-family:lucida sans,arial,tahoma,verdana,sans-serif;
}

/* Navigation header */

.docnav {
	list-style: none outside none;
	position: relative;
	text-align: center;
	padding: 23px 0px;
	margin-bottom: 20px;
}

.docnav .previous a{
 color: transparent !important;
}

.docnav .next a{
 color: transparent !important;
}

.docnav .home a{
 color: transparent !important;
}

.docnav .up a{
 color: transparent !important;
}

.docnav li {
    padding-left: 100px;
    padding-right: 100px;
}

.docnav .title{
	color: #FAC943;
  font-size: 18px;
 	font-weight: bold;
}

.docnavtitle .titlefooterprev {
	left: 0;
	text-align: left;
}

.docnavtitle .titlefooternext {
 	right: 0;
 	text-align: right;
}

.docnavtitle .titlefooternext, .docnavtitle .titlefooternext {
 position: absolute;
}

.docnavtitle{
	list-style: none outside none;
	position: relative;
	padding: 10px 0px;
	margin-top: -60px;
	color: #FAC943;
	font-size: 14px;
 	font-weight: bold;
}

.docnavtitle li {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none outside none;
  display: inline;
  background: none;
}

.navheader th {
background: none;
border: 0px;
box-shadow:0 0px 0px #FFFFFF;
font-size: 14px;
}

.navheader td {
background: none;
border: 0px;
box-shadow:0 0px 0px #FFFFFF;
}

/*Book - content */
	

.set {
	margin: 25px;
}

.book {
	margin: 25px;
}

.chapter {
	margin: 25px;
}

.section {
	margin: 25px;
}

.section .section {
	margin: 0;
}

.book .section {
	margin: 0;
}

.book .title {
	margin: 0 0 15px 0;
}

.book .chapter {
	padding: 0;
}

.book .chapter .section {
	margin: 0;
}

.chapter .section {
	margin: 0;
}

.set .book {
	padding: 0;
}

.set .section {
	margin: 0;
}

.set .chapter {
	margin: 0;
}


/* N0te */	

.note {
    background: url("../background/note.png") no-repeat  10px 10px #e8e8c1;
    margin: 10px 0px !important;
    padding: 6px 20px 6px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.note .title {
    font-weight: bold;
	font-size: 12px !important;
    margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;
	color: #3c4a55;
}

.section .titlepage .note .title a{
    font-size: 16px;
	font-weight: bold;
	color: #3c4a55;
}

.note p a {
    /*display: block;*/
    margin: 3px 0 0;
}

.note p {
    margin: 0 0 0 40px;
    padding: 0 0 5px 10px;
    *padding: 0px 0px 12px 12px;
}

.note .itemizedlist ul li { url("../background/Arrow.png") no-repeat scroll left 6px transparent; list-style: none; margin-left: 28px;}
.note .itemizedlist ul li p { margin:0;padding-left:0; }

/* warning */	

.warning {
    background: url("../background/warning.png") no-repeat scroll 10px 10px #FFE000;
    margin: 10px 0px !important;
    padding: 15px 10px 5px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.warning .title {
    font-weight: bold;
	font-size: 12px !important;
    margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;
}

.section .titlepage .warning .title a{
    font-size: 16px;
	font-weight: bold;
	color: #393939;
}

 .warning p a {
    /*display: block;*/
    padding: 4px 0;
}

.warning p {
   margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

.warning .itemizedlist ul li { url("../background/Arrow.png") no-repeat scroll left 6px transparent; list-style: none; margin-left: 28px; }
.warning .itemizedlist ul li p { margin:0;padding-left:0; }
/* Tip*/	

.tip {
    background: url("../background/tip.png") no-repeat scroll 10px 10px #d5d5e8;
    margin: 10px 0px !important;
    padding: 15px 10px 5px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}


.tip .title {
    font-weight: bold;
	font-size: 12px !important;
    margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;
}

.section .titlepage .tip .title a{
    font-size: 16px;
	font-weight: bold;
	color: #393939;
}

.tip p a {
    /*display: block;*/
    padding: 4px 0;
}

.tip p {
  margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

.tip .itemizedlist ul li { background: url("../background/Arrow.png") no-repeat scroll left 6px transparent; list-style: none; margin-left: 28px; }
.tip .itemizedlist ul li p { margin:0;padding-left:0; }

/* Heading */
      /* correct the h5 & h6 text color & text size*/
 h5 {
	color: #FCB837;
	font-size: 15px !important;
 }
 
 h6 {
	color: #FCB837;
	font-size: 14px !important;
 }
 
 /* Table */
	/* Add space between 2 tables. Correct the text size in table */
.section table {
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
	margin: 10px 0;
 }
 
 /* Bullet List */
	/* Add bullet list image*/
.procedure .listitem {
    list-style: none outside none;
	padding-left: 10px;
}

.listitem {
	background: url("../background/Arrow.png") no-repeat scroll left 6px transparent;
    list-style: none outside none;
	padding-left: 10px;
}

.chapter ul li{
	background:url("../background/Arrow.png") no-repeat scroll left 6px transparent;
	list-style: none;
	padding-left: 10px;
	font-size: 12px;
	color: #393939;
	font-weight: normal;
}

.procedure ul li  p {
	font-weight: normal;
}

/* procedure margin & color */
	/* Fix the margin & text color of procedure */
 
 ol {
    margin-left: 0;
    padding-left: 20px;
}
 
 ol li {
 font-size:12px;
 line-height: 10px;
 }
.procedure {
	margin-left: 0px;
	font-weight: bold;
}

.procedure ol li {
	color: #393939;
	font-size: 12px;
}

.procedure ol li  p {
	font-weight: normal;
	line-height: 1.3em;
}

.procedure ul li  p {
	font-weight: normal;
	line-height: 1.3em;
}

/*********************Breadcrumbs************************/
	/*Align the breadcrumbs to page elements*/
.help_breadcrumbs {    
    padding-left: 25px;
    padding-top: 5px;
}

.help_breadcrumbs a{
text-decoration:none;    
}

.help_breadcrumbs a:hover{
text-decoration:underline;
color:#31a8d0;    
}

/***************** 404 error page **********************/

.ErrorBox {
	background:url("../background/404-icon.png") no-repeat 26px 14px;
	padding: 30px 0 0 170px;
	font-family: verdana,arial,tahoma;
	color:#737373;
}

.ErrorBox  .Title {
	font-size:30px;
	font-family: arial,tahoma,serif;
	color:#393939;
}

.ErrorBox  ul  {
	padding:5px 0;
}

.ErrorBox  ul li {
	list-style:none;
	background:url("../background/arrow-icon.png") no-repeat left center;
	padding: 4px 0 4px 20px;
}
.ErrorBox  ul li a {
	text-decoration:none;
	color:#066eb7;
}
.ErrorBox  ul li a:hover {
	text-decoration:underline;
}


/***************Customize the style of Disqus plugin****************/

#disqus_thread {
border: 1px solid rgba(0, 0, 0, 0.15) !important;
border-radius: 14px 14px 14px 14px !important;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.45) !important;
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
font-size: 15px;
    font-weight: bold;
padding: 1px 8px 0 !important;
position: relative !important;
margin: 25px !important;
width: auto !important;
}

#dsq-content h3 {	
font-family: "Helvetica",sans-serif !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    margin-bottom: 7px !important;
}

#dsq-account-dropdown{
display: none !important;
}

.dsq-comment-header {
background: none repeat scroll 0 0 #FFFFFF !important;
border-radius: 9px 0 0 0 !important;
border: 1px 0 0 solid rgba(0, 0, 0, 0.15) !important;
    color: #2A9AF9 !important;
    font-size: 12px !important;
    line-height: 16px !important;
}

.dsq-brlink {
font-size: 8px;
margin: 25px;
}

#dsq-content .dsq-comment-meta li, #dsq-content .dsq-comment-actions li {
    font-size: 12px !important;
    font-weight: bold !important;
}

#dsq-content .dsq-comment-text p {
    font-weight: normal !important;
font-size: 12px !important;
}

#dsq-content .dsq-more-button {
width: 150px !important;
margin: auto !important;
margin-bottom: 2px !important;
}

#dsq-content #dsq-authenticate .dsq-login-buttons {
display: none !important;
}

#dsq-subscribe a {
display: none !important;
}

#dsq-content #dsq-global-toolbar {
/*display: none !important;*/
}

#dsq-sort-by {
display: none !important;
}



.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-lightBlue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4e73aa;
  background-image: -moz-linear-gradient(top, #5a85c5, #3c5781);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a85c5), to(#3c5781));
  background-image: -webkit-linear-gradient(top, #5a85c5, #3c5781);
  background-image: -o-linear-gradient(top, #5a85c5, #3c5781);
  background-image: linear-gradient(to bottom, #5a85c5, #3c5781);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a85c5', endColorstr='#ff3c5781', GradientType=0);
  border-color: #3c5781 #3c5781 #24344d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3c5781;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-lightBlue:hover,
.btn-lightBlue:active,
.btn-lightBlue.active,
.btn-lightBlue.disabled,
.btn-lightBlue[disabled] {
  color: #ffffff;
  background-color: #3c5781;
  *background-color: #344b70;
}
.btn-lightBlue:active,
.btn-lightBlue.active {
  background-color: #2c405e \9;
}
.btn-darkGray {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #58636e;
  background-image: -moz-linear-gradient(top, #697582, #3f4851);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#697582), to(#3f4851));
  background-image: -webkit-linear-gradient(top, #697582, #3f4851);
  background-image: -o-linear-gradient(top, #697582, #3f4851);
  background-image: linear-gradient(to bottom, #697582, #3f4851);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff697582', endColorstr='#ff3f4851', GradientType=0);
  border-color: #3f4851 #3f4851 #1e2226;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3f4851;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-darkGray:hover,
.btn-darkGray:active,
.btn-darkGray.active,
.btn-darkGray.disabled,
.btn-darkGray[disabled] {
  color: #ffffff;
  background-color: #3f4851;
  *background-color: #343b43;
}
.btn-darkGray:active,
.btn-darkGray.active {
  background-color: #292e34 \9;
}

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}


.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn {
  font-size: 14px;
}


.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}


.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}





