/*<a {
	text-decoration: none;
	color: #005caa;
}*/

a:hover{
	color: #31a8d0;
	text-decoration: underline;
}

.section ul li {
	background:url("../background/Arrow.png") no-repeat scroll left 6px transparent;
    color: #393939;
    font-size: 12px;
    font-weight: normal;
    list-style: none outside none;
	padding-left:10px;
}

ul,li{
	list-style-type: none;
}

body {
	Background: none;
    color: #393939;
    font-family: Verdana,Arial,Sans-serif;
    font-size: 12px;
    text-align: justify;
}
.BoldText{	
	font-size: 12px;
}
.underline{	
	font-size: 12px;
}
.italic {
    font-size: 12px;    
}

.example .title {	
	text-shadow: 0 1px 1px white; 	 
	color: #393939;     	 
	font-size: 11px; 	 
}

.code {
    font-size: 12px;  	 
}

h2 {
	font-size: 28px;
	border-bottom: 1px solid #F1F1E6;
	border-top: none;
	border-left: 3px solid;
	padding: 7px;
}

h3 {
	font-size:22px;
	border-top:none;
	border-bottom: 1px solid #F1F1E6;
	border-left: 3px solid;
	padding: 2px 5px;
}

h4 {
	border-top:none;
	border-bottom: 1px solid #F1F1E6;
	border-left: 3px solid;
	padding: 2px 5px;
}

.toc a {
	font-size: 12px;	
}

.abstract {   
    padding: 10px 20px;
}

.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.FL {
	float: left;
}

.FR {
	float: right;
}


/******************HOME PAGE *********************/

.HomeContainer{
	font-family: Verdana, Arial, Myriad Pro, sans-serif;
	font-size: 12px;
	background: url("../background/BgDocument.png") repeat-x left top;
	height: 55px;
}

.ContentContainer{
	padding: 12px 30px;
	line-height: 23px;
}

.HomeContainer h1{
	font-size: 30px;
	font-family: Myriad Pro ,Verdana, Arial, sans-serif;
	margin: 0 0 40px 0;
}

.ContentContainer .TxtTitle{
	font-family: Myriad Pro ,Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}

.ContentContainer .ButtonDocument{
	margin: 20px 0px 31px 0px;
}

.ContentContainer .ButtonDocument li {
	background: url("../background/BgDocument.png") repeat-x left -66px;
	height: 34px;
	float: left;
	margin-right: 11px;
	line-height: 34px;
	padding: 0px 50px;
	font-family: Arial, Myriad Pro ,Verdana,  sans-serif;
	font-size: 18px;
	border-radius: 5px;
}

.ContentContainer .ButtonDocument li a{
	color: #fff;
	text-decoration: none;
}

.ContentContainer h2{
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	height: 39px;
	font-family: Verdana, Arial, Myriad Pro , sans-serif;
	font-size: 18px !important;
	line-height: 38px;
	color: #2c2c2c;
	font-weight: normal;
	padding:0 0 0 60px;
	margin: 19px 0 10px;
}

.ContentContainer h3{
	background: #f9f9f9;
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	font-family:Arial, Verdana, Myriad Pro , sans-serif;
	height: 30px;
	padding:0 0 0 19px;
	line-height:  30px;
	font-size: 14px;
	color: #3c3c3c;
	margin: 0px;
}

.ContentContainer p{
	color: #393939;
	margin: 5px 0px;
}

.ContentContainer .IconNew{
	background: #f0f0f0 url("../background/IconDocs.png") no-repeat 20px 7px;

}

.ContentContainer .IconUser{
	background: #f0f0f0 url("../background/IconDocs.png") no-repeat 20px -58px;

}

.ContentContainer .IconOtherSource{
	background: #f0f0f0 url("../background/IconDocs.png") no-repeat 20px -123px;

}


.ContentContainer .TxtContent{
	padding: 5px 0px 10px 20px;
}

.TxtNote li{
	background: url("../background/Arrow.png") no-repeat left 6px;
	padding-left: 15px;
	margin-bottom: 5px;
}

.TxtNote li a{
	color: #145bc7;
	text-decoration: none;
}

.TxtContent ul{
 margin: 0px;
 padding: 0px;
}


/***************** Banner / Footer **********************/

.UIHeaderPageDocument ul li{
	float: left;
	font-size: 11px;
	font-family:lucida sans,arial,tahoma,verdana,sans-serif;
	background: none;
}

.UIHeaderPageDocument{
	background: #202640;
}

.UIHeaderPageDocument .Logo{
	background: url("../background/Logo.png") no-repeat left top;
	width: 65px;
	height: 29px;
	display: block;
	margin: 20px 0px 0px 35px;
}

.UIHeaderPageDocument .PDF{
	background: url("../background/Download_PDF.png") no-repeat right top;
	width: 176px;
	height: 46px;
	display: block;
	margin: 10px 15px 0 0px;
}

.UIHeaderPageDocument .TopBannerSignin{
	height: 55px;
}

.UIHeaderPageDocument .Menu .NavigationTop{
	background: #373b50;
	height: 36px;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	padding: 0px 0px 0px 45px;
}

.UIHeaderPageDocument .Menu .NavigationTop a{
	color: #fff;
	line-height:36px;
	padding-right: 50px;
	font-weight: bold;
	text-decoration: none;
}

.UIHeaderPageDocument .Menu .NavigationTop .SelectedNavigationTab{
    color: #FFCA08;
}


.UIHeaderPageDocument .Menu .NavigationTop .LinkDoc30{
	/*padding-left: 298px;*/
	color: #fff;
	line-height:36px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
	float: right;
}


.UIFooterPageDocument{
	color: #63687a;
	text-align: center;
	height: 40px;
	/*padding-top: 5px;
	background: #202640;*/
	font-size: 11px;
	font-family:lucida sans,arial,tahoma,verdana,sans-serif;
}

/* Navigation header */

.docnav {
	list-style: none outside none;
	position: relative;
	text-align: center;
	padding: 23px 0px;
	margin-bottom: 20px;
}

.docnav .previous a{
 color: transparent !important;
}

.docnav .next a{
 color: transparent !important;
}

.docnav .home a{
 color: transparent !important;
}

.docnav .up a{
 color: transparent !important;
}

.docnav li {
    padding-left: 100px;
    padding-right: 100px;
}

.docnav .title{
	color: #FAC943;
  font-size: 18px;
 	font-weight: bold;
}

.docnavtitle .titlefooterprev {
	left: 0;
	text-align: left;
}

.docnavtitle .titlefooternext {
 	right: 0;
 	text-align: right;
}

.docnavtitle .titlefooternext, .docnavtitle .titlefooternext {
 position: absolute;
}

.docnavtitle{
	list-style: none outside none;
	position: relative;
	padding: 10px 0px;
	margin-top: -60px;
	color: #FAC943;
	font-size: 14px;
 	font-weight: bold;
}

.docnavtitle li {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none outside none;
  display: inline;
  background: none;
}

.navheader th {
background: none;
border: 0px;
box-shadow:0 0px 0px #FFFFFF;
font-size: 14px;
}

.navheader td {
background: none;
border: 0px;
box-shadow:0 0px 0px #FFFFFF;
}

/*Book - content */
	

.set {
	margin: 25px;
}

.book {
	margin: 25px;
}

.chapter {
	margin: 25px;
}

.section {
	margin: 25px;
}

.section .section {
	margin: 0;
}

.book .section {
	margin: 0;
}

.book .title {
	margin: 0 0 15px 0;
}

.book .chapter {
	padding: 0;
}

.book .chapter .section {
	margin: 0;
}

.chapter .section {
	margin: 0;
}

.set .book {
	padding: 0;
}

.set .section {
	margin: 0;
}

.set .chapter {
	margin: 0;
}


/* N0te */	

.note {
    background: url("../background/note.png") no-repeat  10px 10px #e8e8c1;
    margin: 10px 0 0 !important;
    padding: 6px 20px 6px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.note .title {
    font-weight: bold;
	font-size: 12px !important;
    margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;
	color: #3c4a55;
}

.section .titlepage .note .title a{
    font-size: 16px;
	font-weight: bold;
	color: #3c4a55;
}

.note p a {
    /*display: block;*/
    margin: 3px 0 0;
}

.note p {
    margin: 0 0 0 40px;
    padding: 0 0 5px 10px;
    *padding: 0px 0px 12px 12px;
}

.note .itemizedlist ul li { url("../background/Arrow.png") no-repeat scroll left 6px transparent; list-style: none; margin-left: 28px;}
.note .itemizedlist ul li p { margin:0;padding-left:0; }

/* warning */	

.warning {
    background: url("../background/warning.png") no-repeat scroll 10px 10px #FFE000;
    margin: 20px 0 0 !important;
       padding: 15px 10px 5px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.warning .title {
    font-weight: bold;
	font-size: 12px !important;
    margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;
}

.section .titlepage .warning .title a{
    font-size: 16px;
	font-weight: bold;
	color: #393939;
}

 .warning p a {
    /*display: block;*/
    padding: 4px 0;
}

.warning p {
   margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

.warning .itemizedlist ul li { url("../background/Arrow.png") no-repeat scroll left 6px transparent; list-style: none; margin-left: 28px; }
.warning .itemizedlist ul li p { margin:0;padding-left:0; }
/* Tip*/	

.tip {
    background: url("../background/tip.png") no-repeat scroll 10px 10px #d5d5e8;
    margin: 20px 0 0 !important;
       padding: 15px 10px 5px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}


.tip .title {
    font-weight: bold;
	font-size: 12px !important;
    margin: 0 0 3px 40px;
    padding: 0px 10px 0 10px;
	padding: 0 10px 0;
}

.section .titlepage .tip .title a{
    font-size: 16px;
	font-weight: bold;
	color: #393939;
}

.tip p a {
    /*display: block;*/
    padding: 4px 0;
}

.tip p {
  margin: 0 0 0 40px;
    padding: 0 0 5px 12px;
}

.tip .itemizedlist ul li { background: url("../background/Arrow.png") no-repeat scroll left 6px transparent; list-style: none; margin-left: 28px; }
.tip .itemizedlist ul li p { margin:0;padding-left:0; }

/* Heading */
      /* correct the h5 & h6 text color & text size*/
 h5 {
	color: #FCB837;
	font-size: 15px !important;
 }
 
 h6 {
	color: #FCB837;
	font-size: 14px !important;
 }
 
 /* Table */
	/* Add space between 2 tables. Correct the text size in table */
.section table {
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
	margin: 10px 0;
 }
 
 /* Bullet List */
	/* Add bullet list image*/
.procedure .listitem {
    list-style: none outside none;
	padding-left: 10px;
}

.listitem {
	background: url("../background/Arrow.png") no-repeat scroll left 6px transparent;
    list-style: none outside none;
	padding-left: 10px;
}

.chapter ul li{
	background:url("../background/Arrow.png") no-repeat scroll left 6px transparent;
	list-style: none;
	padding-left: 10px;
	font-size: 12px;
	color: #393939;
	font-weight: normal;
}

.procedure ul li  p {
	font-weight: normal;
}

/* procedure margin & color */
	/* Fix the margin & text color of procedure */
 
 ol {
    margin-left: 0;
    padding-left: 20px;
}
 
 ol li {
 font-size:12px;
 line-height: 10px;
 }
.procedure {
	margin-left: 0px;
	font-weight: bold;
}

.procedure ol li {
	color: #393939;
	font-size: 12px;
}

.procedure ol li  p {
	font-weight: normal;
	line-height: 1.3em;
}

.procedure ul li  p {
	font-weight: normal;
	line-height: 1.3em;
}

/*********************Breadcrumbs************************/
	/*Align the breadcrumbs to page elements*/
.help_breadcrumbs {    
    padding-left: 25px;
    padding-top: 5px;
}

.help_breadcrumbs a{
text-decoration:none;    
}

.help_breadcrumbs a:hover{
text-decoration:underline;
color:#31a8d0;    
}

/***************** 404 error page **********************/

.ErrorBox {
	background:url("../background/404-icon.png") no-repeat 26px 14px;
	padding: 30px 0 0 170px;
	font-family: verdana,arial,tahoma;
	color:#737373;
}

.ErrorBox  .Title {
	font-size:30px;
	font-family: arial,tahoma,serif;
	color:#393939;
}

.ErrorBox  ul  {
	padding:5px 0;
}

.ErrorBox  ul li {
	list-style:none;
	background:url("../background/arrow-icon.png") no-repeat left center;
	padding: 4px 0 4px 20px;
}
.ErrorBox  ul li a {
	text-decoration:none;
	color:#066eb7;
}
.ErrorBox  ul li a:hover {
	text-decoration:underline;
}


